.base {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EBFEFF;


    .project2-big {
        width: 1189px;
        height: 718px;
        margin: 112px;
        box-shadow: 0px 0px 40px #00000066;
    }

    .project2-small {
        display: none;
    }
}

@media screen and (max-width:570px) {
    .base {
        .project2-big {
            display: none;
        }

        .project2-small {
            display: block;
            width: 342px;
            height: auto;
            margin: 80px;
            box-shadow: 0px 0px 40px #00000066;
        }
    }
}